* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
}

.wrapper1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

.pack {
    background-color: #d9ff01;
}

.pack1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background-color: #fff;
}

.smallPack {
    background-color: #d11bf9;
}

.wrapper2 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}

.box {
    background-color: #1fff01;
}
.one{
    background-image: url('https://images.unsplash.com/photo-1688168293343-e1c824a4ace5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
}
.two{
    background-image: url('https://images.unsplash.com/photo-1687813043106-2ff1331ee96b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80');
    background-size: cover;
}
.three{
    background-image: url('https://images.unsplash.com/photo-1687898048784-a5599468c664?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80');
    background-size: cover;
}
.four{
    background-image: url('https://images.unsplash.com/photo-1680371321767-391cfafdb031?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
}
.five{
    background-image: url('https://images.unsplash.com/photo-1681316151115-b9c60f39d628?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1154&q=80');
    background-size: cover;
}
.six{
    background-image: url('https://images.unsplash.com/photo-1687800132770-8f1600a5849e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1228&q=80');
    background-size: cover;
}
