.App {
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f84141;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.counterValue {
  font-size: 4rem;
  font-weight: 700;
}
.btns {
  display: flex;
  column-gap: 1.2rem;
}
button {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  width: fit-content;
  font-weight: 600;
  background-color: #062906;
  color: #ffffff;
  opacity: 0.8;
}
button:hover {
  cursor: pointer;
  opacity: 1;
}
