* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Remove scroll when modal is open */
body.modal-open {
  overflow: hidden;
}

button {
  padding: 0.7rem 1rem;
  background-color: #fff5f5;
  font-size: 1rem;
  margin-top: 3rem;
  margin-left: 2rem;
  font-weight: 700;
}
button:hover {
  cursor: pointer;
  background-color: #7fff00;
  border-radius: 1rem;
  color: #0c0c0c;
}
