* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6495ed;
}

section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.2rem;
}

input {
  padding: 1rem 1rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  color: #b81a1a;
  border: none;
}

label {
  font-size: 2.2rem;
}
.show_input_values {
  font-size: 2rem;
  color: #b81a1a;
}
button {
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: chartreuse;
  border: none;
  opacity: 0.8;
}
button:hover {
  background-color: #f5f5f5;
  border-radius: 0%;
  transition: border-radius 0.5s;
  cursor: pointer;
  opacity: 1;
  color: #b81a1a;
}
